*{font-family: "Segoe UI", Frutiger, "Frutiger Linotype";}
body{background-image:url('Win8Background.jpg');}

#wrapper {
    width: 70%;
    padding: 0px;
    margin-left:auto;
     margin-right:auto;
}
.sortable-list li {
    padding: 4px;
    margin: 4px;
    float: left;
    border: 1px solid black;
    list-style-image: none;
    list-style: none;
    list-style-type: none;
    background-color:#204558;
}

#dashboard-layout .item.normal {
    width: 100px;
    height: 100px;
}

#dashboard-layout .item.wide {
    width: 224px;
    height: 100px;
}

.item.normal p{
margin:0px;
padding: 0px;
}

.item.wide p{
margin:0px;
padding: 0px;
}

h1{
color:white;
}

#left_head{width:45%; float:left;}
#right_head{width:45%; float:right; text-align:right;margin-right:15px;}

.project-text {
  text-align:center;
  font-size:50px;
}

.column-4 {
  float: left;
  width: 21%;
  padding: 10px;
  margin:20px;
  height: 250px;
}

.tile-1 {
  background-image: url('./media/youtube-logo.webp');
  background-size: cover;
}

.tile-2 {
  background-color:white;
}

.tile-3 {
	background: url('./media/github.jpg');
	background-size: cover;
}

.tile-4 {
  background-color:#112d4e;
}

.tile-5 {
  background-color:#F9F7F7;
}

.tile-6 {
  background-color:#209BFF;
}

.tile-7 {
    background-color:#ffffff00;
}

.tile-8 {
  background: url('./images/project-right.jpeg');
  background-size: cover;
}

.tile-2:hover {
  background-color:#FEDE00;
}

.tile-3:hover {
   background-color: #FEDE00;
}

.tile-4:hover {
   background-color: #FEDE00;
}

.tile-5:hover {
   background-color: #FEDE00;
}

.tile-6:hover {
   background-color: #FEDE00;
}

.tile-7:hover {
   background-color: #FEDE00;
}